only-built-dependencies[]=@tailwindcss/oxide
only-built-dependencies[]=esbuild@0.14.47
only-built-dependencies[]=esbuild@0.18.20
only-built-dependencies[]=esbuild@0.21.5
only-built-dependencies[]=esbuild@0.25.12
only-built-dependencies[]=esbuild@0.28.2
allowBuilds[esbuild]=true
allowBuilds[@tailwindcss/oxide]=true